html {
    display: flex;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    display: flex;
}

#form-container {
    display: flex;
    flex-flow: row nowrap;
    flex: auto;
}

/* LEFT SIDE FORM CSS LEFT SIDE FORM CSS LEFT SIDE FORM CSS LEFT SIDE FORM CSS LEFT SIDE FORM CSS LEFT SIDE FORM CSS */

.banner-column {
    display: flex;
    flex-flow: column nowrap;
}

.banner {
    display: flex;
    min-width: 50vh;
    max-width: 100vh;
    height: 100vh;
    flex: auto;
}

.logo-container {
    display: flex;
    flex: auto;
    position: absolute;
    opacity: 75%;
}

#logo {
    display: flex;
    flex: auto;
    width: 20vh;
    height: 20vh;
    padding-left: 20px;
    margin-left: 100%;
    margin-top: 10px;
}

.photo-cred {
    display: flex;
    flex-flow: row nowrap;
    position: absolute;
    margin-top: 98vh;
}

.pc {
    color: white;
    opacity: 50%;
}

/* RIGHT SIDE FORM CSS RIGHT SIDE FORM CSS RIGHT SIDE FORM CSS RIGHT SIDE FORM CSS RIGHT SIDE FORM CSS RIGHT SIDE FORM CSS */

.form-column {
    display: flex;
    flex: auto;
    flex-flow: column nowrap;
    background-color: white;
}

.form-header {
    display: flex;
    flex-flow: column nowrap;
    flex: auto;
    background-color: rgb(220, 222, 220);
    opacity: 80%;
    font-size: 28px;
    letter-spacing: .05rem;
    line-height: 1.7;
    padding: 10px;
    padding-right: 250px;
    padding-left: 25px;
}

#text1 {
    color: rgb(74, 72, 65);
    margin-bottom: 0;
    padding-left: 25px;
}

#text2 {
    color: rgb(74, 72, 65);
    margin: 0;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 25px;
}

.form {
    display: flex;
    flex-flow: row nowrap;
    /* padding-right: 250px; */
    padding-left: 25px;
}

.form-text {
    display: flex;
    margin-left: 35px;
    font-size: 20px;
    font-weight: 900;
}

.form-names, .form-contact-information, .form-passwords {
    display: flex;
    flex-flow: row nowrap;
    flex: auto;
    padding-left: 25px;
    margin: 10px;
    justify-content: flex-start;
    gap: 50px;
    font-size: 18px;
    font-weight: 545;
    letter-spacing: .06rem;
    line-height: 1.2;
    color: rgb(74, 72, 65);
}

#firstName, #lastName, #email, #phoneNumber, #passwordSignup, #passwordConfirm {
    display: flex;
    flex: auto;
    font-size: 16px;
    width: 250px;
    height: 20px;
    border-radius: 10px;
    border: 2px solid #E5E7EB;
}

.form-footer {
    display: flex;
    flex: auto;
    flex-flow: column wrap;
    background-color: rgb(89, 110, 143);
    opacity: 70%;
}

.create-account {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-style: bold;
    width: 250px;
    height: 35px;
    margin-top: 20px;
    color: white;
    background-color: rgb(80, 116, 199);
    margin-left: 35px;
    border-radius: 10px;
}

.acount-already {
    font-size: 18px;
    color: white;
    font-weight: 500;
    margin-left: 35px;
}

.login-link {
    font-size: 18px;
    color: rgb(184, 134, 83);
}

.fine-print {
    margin-left: 25px;
    font-size: 10px;
    color: white;
}

/* .focus {
    border: 2px solid green;
    box-shadow: 10px;
} */

.error {
    border: solid red;
}