html {
    display: flex;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    display: flex;
}

#form-container {
    display: flex;
    flex-flow: row nowrap;
}

a {
    color: white;
    opacity: 50%;
}

/* LEFT SIDE FORM CSS LEFT SIDE FORM CSS LEFT SIDE FORM CSS LEFT SIDE FORM CSS LEFT SIDE FORM CSS LEFT SIDE FORM CSS */

.banner-column {
    display: flex;
    flex-flow: column nowrap;
}

.banner {
    display: flex;
    min-width: 50vh;
    max-width: 100vh;
    height: 100vh;
}

.logo-container {
    display: flex;
    position: absolute;
    opacity: 75%;
}

#logo {
    display: flex;
    width: 20vh;
    height: 20vh;
    padding-left: 20px;
    margin-left: 100%;
}

.photo-cred {
    display: flex;
    flex-flow: row nowrap;
    position: absolute;
    margin-top: 98vh;
}

/* RIGHT SIDE FORM CSS RIGHT SIDE FORM CSS RIGHT SIDE FORM CSS RIGHT SIDE FORM CSS RIGHT SIDE FORM CSS RIGHT SIDE FORM CSS */

.form-column {
    display: flex;
    flex-flow: column nowrap;
    background-color: white;
}

.form-header {
    display: flex;
    flex-flow: column nowrap;
    flex: auto;
    background-color: rgb(220, 222, 220);
    font-size: 28px;
    letter-spacing: .05rem;
    line-height: 1.7;
    padding: 10px;
    padding-right: 250px;
    padding-left: 25px;
}

#text1 {
    margin-bottom: 0;
    padding-left: 25px;
}

#text2 {
    margin: 0;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 25px;
}

.form {
    display: flex;
    flex-flow: row wrap;
    /* padding-right: 250px; */
    padding-left: 25px;
}

.form-text {
    display: flex;
    padding-left: 25px;
    font-size: 20px;
    font-weight: 900;
}

.form-left, .form-right {
    display: flex;
    flex-flow: column wrap;
    flex: auto;
    padding-left: 25px;
}

#firstName, #lastName, #email, #phoneNumber, #passwordSignup, #passwordConfirm {
    font-size: 16px;
}

.create-account {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-style: bold;
    width: 250px;
    height: 35px;
    margin-top: 20px;
    color: white;
    background-color: rgb(80, 116, 199);
    margin-left: 25px;
    border-radius: 5px;
}